.background {
  background: url("./../public/2207_w023_n003_2678b_p1_2678.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.App {
  margin-top: 64px;
  text-align: center;
}
